.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form.stackCtrl{
  /*position: relative;*/
/*  left: 690px;*/
  float: right;
  margin-right: 200px;
  top: 80px;
}

.rectcl{
	border-radius: 10px;
}