<div class="modal-header">
  <!-- <button type="button" class="close" ng-click="cancel()">×</button> -->
    <h3 class="modal-title custom_align headerMargin" id="Heading">New Record : 
      <a ng-click="selected.{{data.model}} = {{data.model}}">
        <input class="editInput" id="Heading" ng-model="formdata[data.fields[0].title]" type="text" />
      </a>
     </h3>
    <h5 class="modal-title custom_align headerMargin" id="Heading">
       Info :  <a ng-click="selected.{{data.model}} = {{data.model}}">
       <input class="editInput" id="Heading" ng-model="formdata.description" type="text" />
        </a>
     </h5>
</div>

<div class="modal-body col-lg-12 col-md-12 col-sm-10 col-xs-10">
  <form class="{{data.model}}-form" name="{{data.model}}form">
     <div ng-repeat="item in data.fields">
        <div ng-hide="{{item.type}}" class="form-group newmodalForm-group">
          <div class="input-group col-md-11">
            <span class="input-group-addon">{{item.header}}</span>
            <span class="required" ng-show="{{data.model}}form.{{item.name}}.$error.required">*</span>
                <input class="form-control" id="item.name" name="{{item.name}}" ng-model="formdata[item.name]" type="{{item.type}}" placeholder="{{item.name}}" required>
          </div>
        </div> 
      <div ng-show="{{item.type}}" class="form-group newmodalForm-group">
          <div class="input-group col-md-11">
             <span class="input-group-addon">{{item.header}}</span>
            <span class="required" ng-show="{{data.model}}form[item.name].$error.required">*</span>  
            <select ng-disabled="noOptions" ui-select2="select2Options" id="e8" class="cust_selec2_select" name="{{item.name}}" ng-model="formdata[item.name]" type="text">
              <option ng-repeat="option in item.options track by $index">{{option}}</option>
             </select> 
          </div>
        </div> 
     </div>

      <!-- add photo directive here for image upload -->
	 <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<span ng-show='image'>
			<photos uploader='uploader' multiple=multiple></photos>		
		</span>
	 </div>		
     
     <div class="form-group newmodalForm-group">
       <div class="input-group col-lg-10 col-md-10 col-sm-12 col-xs-12 ">  
          <button type="button" class="btn btn-warning btn-sm" style="width: 45%;" ng-click="add()" ng-disabled="{{data.model}}form.$error.required">
             <span class="glyphicon glyphicon-ok-sign"></span> 
             Add {{data.model | capitalize}}
           </button>
        </div>
      </div>
   </form> 
</div>

     
<div class="modal-footer">

</div>
<!-- Polymer elemet of geo-tag for browser location -->
<geo-location></geo-location>
